body{
    min-width: 100%;
}
#footer{
    padding-bottom:1px;
    padding-right: 5px;
}
label{
    text-align: left
}
.frame-body-element{
    width: 620px;
}
div#container.card-body{
    min-height: 85vmin;
}
#inputAdd{
    margin-left: 20px;
    margin-top: 5px;
}
#exportTextArea{
    margin:auto;
    min-width: 80vw;
    min-height: 40vh;
}
div.page{
    margin-top:50px;
}
.preview li{
    list-style-type: none;
    margin-top:6px;
    margin-bottom: 6px;
    margin-left: 2px;
}
ul.preview{
    margin-bottom: 30px;
    padding-left:15px;
}
input#previewInput{
    width: 250px;
}
div.form-check{
    margin-left: 8px;
}
div.questionAsked{
    margin-bottom: 4px;
}