body{
    
    min-width: 720px;
    
}


#footer{
    padding:10px;
    
}

label{
    text-align: left
}

.frame-body-element{
    width: 620px;
    /*margin-bottom: 25px;*/
}

#container{
    margin-left: 10px;
    min-height: 84vh;
}
#inputAdd{
    margin-left: 20px;
    margin-top: 5px;
}
#exportTextArea{
    min-width: 80vw;
    min-height: 40vh;
}
