body{
    
    min-width: 100%;
    
}


#footer{
    padding-bottom:1px;
    padding-right: 5px;
    
}

label{
    text-align: left
}

.frame-body-element{
    width: 620px;
    /*margin-bottom: 25px;*/
}

div#container.card-body{
    min-height: 85vmin;
  
    
}
#inputAdd{
    margin-left: 20px;
    margin-top: 5px;
}
#exportTextArea{
    margin:auto;
    min-width: 80vw;
    min-height: 40vh;
}

div.page{
    margin-top:50px;
}
